body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-391px;
  width:649px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:444px;
  top:0px;
  width:180px;
  height:80px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
}
#u1 {
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:391px;
  top:100px;
  width:309px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:444px;
  top:190px;
  width:205px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:500px;
  top:250px;
  width:200px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6_input:disabled {
  color:grayText;
}
#u7 {
  position:absolute;
  left:391px;
  top:253px;
  width:57px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:500px;
  top:290px;
  width:200px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:391px;
  top:293px;
  width:31px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:500px;
  top:330px;
  width:200px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:391px;
  top:333px;
  width:44px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:500px;
  top:369px;
  width:200px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:391px;
  top:372px;
  width:31px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:500px;
  top:408px;
  width:330px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:391px;
  top:411px;
  width:83px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:500px;
  top:497px;
  width:200px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:500px;
  top:464px;
  width:295px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:391px;
  top:495px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:500px;
  top:630px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:940px;
  top:10px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
