body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:360px;
  top:90px;
  width:345px;
  height:136px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:30px;
  width:170px;
  height:33px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:170px;
  top:30px;
  width:170px;
  height:33px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:63px;
  width:170px;
  height:31px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:170px;
  top:63px;
  width:170px;
  height:31px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:94px;
  width:170px;
  height:37px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:170px;
  top:94px;
  width:170px;
  height:37px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:796px;
  top:13px;
  width:29px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:570px;
  top:124px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:825px;
  top:6px;
  width:100px;
  height:30px;
}
.u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:570px;
  top:157px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:940px;
  top:10px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
